/* COMMON.CSS: Styles for reusable components */

/* Image container (Image.jsx) */
.image-container {
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Clickable text / buttons */
.button {
    cursor: pointer;
}
.button:hover {
    color:red;
}

/* Screen overlay when a popup appears */
.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    background: rgba(0,0,0,0.7); /* Dims the screen */
}

/* Popup box */
.popup {
    width: max(300px, 20vw);
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;


    background-color: rgba(1, 53, 80, 0.8);
    border: 2px solid cyan;
    border-radius: 4px;
    color: cyan;
}
/* Error popup box */
.error-popup {
    width: max(300px, 20vw);
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;

    background-color: rgba(184, 35, 82, 0.8);
    border: 2px solid rgb(255, 0, 64);
    border-radius: 4px;
    color: rgb(255, 255, 255);
}

/* Popup box text */
.popup-title {
    margin-top: 0;
    margin-left: 3px;
    padding: 5px;

    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.popup-message {
    margin-top: 0;
    margin-left: 3px;
    padding: 5px;

    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* Popup box buttons */
.popup-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: auto;
    margin-bottom: 10px;
}
.popup-button {
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(6, 145, 244);
    border-width: 2px;
}
.popup-button:hover {
    background-color:rgb(3, 92, 234);
    text-decoration: underline;
}
.error-popup-button {
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(204, 70, 3);
    border-width: 2px;
}
.error-popup-button:hover {
    background-color:rgb(165, 24, 2);
    text-decoration: underline;
    border-color: red;
}
.popup-button-yes {
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(46, 169, 103);
    border-width: 2px;
}
.popup-button-yes:hover {
    background-color:rgb(70, 242, 150);
    text-decoration: underline;
    border-color: green;
}
.popup-button-no {
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(247, 75, 75);
    border-width: 2px;
}
.popup-button-no:hover {
    background-color:rgb(245, 141, 141);
    text-decoration: underline;
    border-color: rgb(243, 69, 69);
}