/* Main 80% of the page width */
#login-main {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-style: dotted;
    border-color: rgb(249, 188, 8);
    border-width: 4px;
    padding: 10px;
}

.login-header {
    font-family: 'Courier New', Courier, monospace;
    color:rgb(139, 6, 6);
    margin-left: 5px;
    border-width:2px;
    border-color: white;
}

.login-text {
    color:cyan;
    font-size: 14px;
}

.login-error-text {
    color:rgb(255, 0, 0);
    font-size: 14px;
}

.login-input {
    width: 20%;
    height: 30px;
    border-style: solid;
    border-radius: 20px;

    margin-bottom: 30px;
    border-color: rgb(6, 145, 244);
    border-width: 2px;
    background-color: transparent;
    color: white;
    font-size: 14px;
}

.login-button {
    width: 10%;
    height: 30px;
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(6, 145, 244);
    border-width: 2px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}



/* ---------------------------------------------------------------------------------------- */