/* LOGIN AND REGISTRATION PAGE STYLES */
/* body {
    background-color: rgb(0, 56, 71);
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* Page-wide properties */
#login-main {
    min-width: 400px;
    width: 60vw;
    max-width: 1000px;
    min-height: 400px;
    height: 60vh;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    border-style: dotted;
    border-color: rgb(249, 188, 8);
    border-width: 4px;
    align-items: center;
    justify-content: center;
}

/* Main content container */
#login-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

/* "Join the Party!" / "Welcome back!" */
.login-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color:rgb(255, 255, 255);
    margin-bottom: 5px;
}

/* Instruction text */
.login-text {
    color:cyan;
    font-size: 14px;
}

/* Error message text */
.login-error-text {
    color:rgb(255, 0, 0);
    font-size: 14px;
}

/* Main input field */
.login-input {
    width: 222px;
    height: 25px;
    border-style: solid;
    border-radius: 20px;

    border-color: rgb(6, 145, 244);
    border-width: 2px;
    background-color: transparent;
    color: white;
    font-size: 13px;

    margin-bottom: 10px;
}

/* Password containers: only used on Registration page */
#outer-password-container {
    display: flex;
    flex-direction: row;
}
#inner-password-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

/* Password and confirm password input fields */
.password-input {
    width: 150px;
    height: 25px;
    border-style: solid;
    border-radius: 20px;

    border-color: rgb(6, 145, 244);
    border-width: 2px;
    background-color: transparent;
    color: white;
    font-size: 11px;

    margin-bottom: 10px;
}

/* "Log in" and "Register" buttons */
.login-button {

    /* Design */
    width: 110px;
    height: 35px;
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(6, 145, 244);
    border-width: 2px;

    /* Text */
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 10px;
}
/* On hover */
.login-button:hover {
    background-color:rgb(3, 92, 234);
    text-decoration: underline;
}