#root {
  max-width: 1920px;
  padding: 1rem;
}

/* Applied to the entire page */
#page {
    display: flex;
    flex-direction: row;
    width: 1024px;
    height: 768px;
}

/* Image container (Image.jsx) */
.image-container {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    overflow: hidden;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ---------------------------------------------------------------------------------------- */

/* Main 80% of the page width */
#main {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-style: dotted;
    border-color: rgb(249, 8, 8);
    border-width: 4px;
}

/* Top title bar: 20% of page height */
#titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color:aqua;
    height: 70px;
}

/* Message display container: 80% of page height */
#message-display {
    display: flex;
    flex-direction: column;
    border: 3px solid cyan;
    height: 100%;
}

/* List of messages */
#message-list {
    display: flex;
    flex-direction: column;
    /* border-style: solid;
    border-color: rgb(251, 255, 0);
    border-width: 3px; */
    height: 500px;
    color:rgb(200, 255, 0);
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    margin-top: 5px;
}

#message {
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    width: 98%;
    position: relative;
    background: rgba(0,0,0,0);
}

#message-self {
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    width: 98%;
    position: relative;
    background: rgba(0,0,0,0.35);
    color: rgb(0, 255, 145);
}

#msgTextContainer {
    display: flex;
    flex-direction: column;
}

#msgSenderText {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0;
}

#msgBodyText {
    font-size: 11px;
    margin-bottom: 3px;
}

#msgBodyTextGrouped {
    font-size: 11px;
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 3px;
}

#msgTimestamp {
    position: absolute;
    font-size: 11px;
    top: 0;
    right: 0;
    margin-right: 5px;
}

/* Message input box: Bottom of message display */
#message-input {
    display: flex;
    flex-direction: row;
    /* height: 15%; */
    border: 1px solid rgb(234, 255, 0); 
}

#message-input-field {
    width: 100%;
    height: 80%;
    /* border-style: solid;
    border-radius: 20px;

    border-color: rgb(6, 145, 244); */
    border-width: 2px;
    background-color: transparent;
    color: white;
    font-size: 11px;

    margin-bottom: 10px;
}

#send-button {
    /* Design */
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(192, 244, 6);
    border-width: 2px;
    border-color: rgb(4, 0, 128);
}

/* On hover */
#send-button:hover {
    background-color:rgb(3, 92, 234);
    text-decoration: underline;
}

/* ---------------------------------------------------------------------------------------- */

/* The right sidebar (20% of the page width) */
#sidebar {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-style: dotted;
    border-color: rgb(4, 229, 19);
    border-width: 4px;
}

/* User profile display */
#profile-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color:aqua;
    gap: 5px;
    margin-top: 5px;
}

/* User settings menu opener */
.profile-dropdown-button {
    cursor: pointer;
}
.profile-dropdown-button:hover {
    color:red;
}

/* Profile controls dropdown */
#profile-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: rgb(0, 81, 255);
    border-width: 2px;
    color:aqua;
    gap: 10px;
    margin-top: 5px;
}


/* ---------------------------------------------------------------------------------------- */