body {
    background-color: rgb(0, 56, 71);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image container (Image.jsx) */
.image-container {
    align-items: center;
    justify-content: center;
    display: flex;
    /* margin: 10px; */
    overflow: hidden;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------------------------------------------------------------------------------- */

/* Page properties */
#page {
    display: flex;
    flex-direction: row;
    width: 1024px;
    height: 768px;
    border-style: solid;
    border-color: rgb(44, 8, 249);
    border-width: 2px;
}

/* General properties for elements on the chat page */
.chat {
    border-radius: 4px;
}

/* ---------------------------------------------------------------------------------------- */

/* Main 80% of the page width: contains title bar and message display */
#main {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Top title bar */
#titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color:aqua;
    height: 70px;
    gap: 16px;
}

/* Message display container */
#message-display {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* List of messages */
#message-list {
    display: flex;
    flex-direction: column;
    height: 500px;
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("../assets/Wiki-background.webp");
    z-index: 0;
}

/* Individual message (received) */
#message {
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    width: 99%;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    color: rgb(4, 59, 130); 
}

/* Individual message (sent) */
#message-self {
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    width: 99%;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    color: rgb(4, 59, 130);
}

/* Message text fields */
#msgTextContainer {
    display: flex;
    flex-direction: column;
}
#msgSenderText {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 3px;
}
#msgBodyText {
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
}
#msgBodyTextGrouped {
    font-size: 12px;
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 3px;
}
#msgTimestamp {
    position: absolute;
    font-size: 12px;
    top: 0;
    right: 0;
    margin-right: 5px;
}

/* Message input box: Bottom of message display */
#message-input {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 70px;
    border: 2px solid rgb(0, 255, 145);
    margin-bottom: 5px;
    margin-left: 5px;
}
#message-input-field {
    width: 90%;
    height: 75%;
    margin-top: 5px;
    margin-right: 5px;
    background-color: transparent;
    color: white;
    font-size: 11px;
    margin-bottom: 10px;
}

/* ---------------------------------------------------------------------------------------- */

/* The right sidebar (20% of the page width) */
#sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-style: dotted;
    border-color: rgb(4, 229, 19);
    border-width: 4px;
}

/* User profile display */
#profile-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color:aqua;
    gap: 5px;
}

/* User settings menu opener */
.profile-dropdown-button {
    cursor: pointer;
}
.profile-dropdown-button:hover {
    color:red;
}

/* Profile controls dropdown */
#profile-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: rgb(0, 81, 255);
    border-width: 2px;
    color:aqua;
    gap: 10px;
    margin-top: 5px;
}


/* ---------------------------------------------------------------------------------------- */