#root {
  max-width: 1920px;
  padding: 1rem;
}

/* Applied to the entire page */
#page {
    display: flex;
    flex-direction: row;
}

/* Image container (Image.jsx) */
.image-container {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    overflow: hidden;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ---------------------------------------------------------------------------------------- */

/* Main 80% of the page width */
#main {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-style: dotted;
    border-color: rgb(249, 8, 8);
    border-width: 4px;
}

/* Top title bar: 20% of page height */
#titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color:aqua;
    min-height: 60px;
    height: 8%;
}

/* Message display container: 80% of page height */
#message-display {
    display: flex;
    flex-direction: column;
    border: 3px solid cyan;
    height: 100%;
}

/* List of messages */
#message-list {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(251, 255, 0);
    border-width: 3px;
    height: 90%;
    color:rgb(200, 255, 0);
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
}

/* Message input box: Bottom of message display */
#message-input {
    display: flex;
    flex-direction: row;
    height: 15%;
    min-height: 120px;
}

/* ---------------------------------------------------------------------------------------- */

/* The right sidebar (20% of the page width) */
#sidebar {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-style: dotted;
    border-color: rgb(4, 229, 19);
    border-width: 4px;
}

/* User profile display */
#profile-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color:aqua;
    gap: 10px;
    margin-top: 5px;
}

/* User settings menu opener */
.profile-dropdown-button {
    cursor: pointer;
}
.profile-dropdown-button:hover {
    color:red;
}

/* Profile controls dropdown */
#profile-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: rgb(0, 81, 255);
    border-width: 2px;
    color:aqua;
    gap: 10px;
    margin-top: 5px;
}


/* ---------------------------------------------------------------------------------------- */