#root {
  max-width: 1920px;
  padding: 1rem;
}

.page {
    display: flex;
    flex-direction: row;
}

.main {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-style: dotted;
    border-color: rgb(249, 8, 8);
    border-width: 4px;
}

.sidebar {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-style: dotted;
    border-color: rgb(4, 229, 19);
    border-width: 4px;
}

/* The top title bar */
.titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color:aqua;
}
